<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memo - Home</title>
    <meta charset='utf-8'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css " type="text/css" />
    <link rel="stylesheet" href="/styles/header.css " type="text/css" />
    <link rel="stylesheet" href="/styles/sidebar.css " type="text/css" />
    <link rel="stylesheet" href="/styles/welcome.css " type="text/css" />
    <link rel="stylesheet" href="/styles/index.css " type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css " type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/footerLightBox.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>

  <body>

    <% include ./partials/_header %>
    <% include ./partials/_sidebar %>

    <main class='container'>
      <% for (const post of posts) { %>
        <div class='post'>
          <header>
            <div class="top-post-bar">
              <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
              <% if (post.avgrating) { %>
                <div class="rating"><%= post.avgrating %> <span class='star'>★</span></div>
              <% } %>
            </div>
            <% if (post.url) { %>
              <a class="post-link" href="<%= post.url %>"><%= post.url %></a>
            <% } %>
          </header>
          <% if (post.url && (post.url).includes("youtube")) { %>
            <iframe src="<%= post.url.slice(0, 24) + 'embed/' + post.url.slice(32) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% } else if (post.url && ((post.url).includes("image") || (post.url).includes("jpg"))) { %>
            <img class="post-photo" src="<%= post.url %>">
          <% } %>
            <p>
              <%= post.description %>
            </p>
          <footer>
            <div class="bottom-post">
              <form method="GET" action="/posts/<%= post.id %>"><input type="image" src="https://i.imgur.com/GEZvSaQ.png"></form>
              <form class="like" method="GET" action="/posts/"><input type="image" src="https://i.imgur.com/ay6oIRr.png"></form>
              <form method="GET" action="/posts/"><input type="image" src="https://i.imgur.com/S8HBBf2.png"></form>
            </div>
          </footer>
        </div>
        <% } %>
      </main>
    <% include ./partials/_footer %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
