<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memo</title>
    <meta charset='utf-8'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css " type="text/css" />
    <link rel="stylesheet" href="/styles/sidebar.css " type="text/css" />
    <link rel="stylesheet" href="/styles/welcome.css " type="text/css" />
    <link rel="stylesheet" href="/styles/show_post.css " type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css " type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/footerLightBox.js"></script>
    <script type="text/javascript" src="/scripts/actions.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>

  <body>

    <% include ./partials/_header %>
    <% include ./partials/_sidebar %>

    <main class="container">
      <div class='post'>
        <header>
          <div class="top-post-bar">
          <h5><%= post[0].title %></h5>
          <% if (post[0].avgrating) { %>
            <div class="rating"><%= post[0].avgrating %> <span class='star'>★</span></div>
            <% } %>
          </div>
          <% if (post[0].url) { %>
          <a href="<%= post[0].url %>"><%= post[0].url %></a>
          <% } %>
        </header>
        <% if ((post[0].url).includes("youtube")) { %>
          <iframe src="<%= post[0].url.slice(0, 24) + 'embed/' + post[0].url.slice(32) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% } else if ((post[0].url).includes("image") || (post[0].url).includes("jpg")) { %>
          <img class="post-photo" src="<%= post[0].url %>">
        <% } %>
          <p><%= post[0].description %></p>
        <footer>
          
          <% if (post[0].rated) { %>
            <% if (post[0].rated === 1) { %>
              <span class="star">★</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
            <% } else if (post[0].rated === 2) { %>
              <span class="star">★</span>
              <span class="star">★</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
            <% } else if (post[0].rated === 3) { %>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span>☆</span>
              <span>☆</span>
            <% } else if (post[0].rated === 4) { %>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span>☆</span>
            <% } else if (post[0].rated === 5) { %>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            <% } %>
          <% } else { %>
            <div class='rate-post'>
            <form class="user-rate" method="POST" action="/actions/rating/<%= post[0].id %>">
              <input type="hidden" name="post_id" value="<%= post[0].id %>">
              <button type="submit" class="star-rating" name="rating" value="5">☆</button>
              <button type="submit" class="star-rating" name="rating" value="4">☆</button>
              <button type="submit" class="star-rating" name="rating" value="3">☆</button>
              <button type="submit" class="star-rating" name="rating" value="2">☆</button>
              <button type="submit" class="star-rating" name="rating" value="1">☆</button>
            </form>
          <% } %>
          </div>
        </footer>
      </div>

      <div class='comment-box'>
        <form class="new-comment" method="POST" action="/actions/comment/<%= post[0].id %>">
          <input type="hidden" name="post_id" value="<%= post[0].id %>">
          <textarea id="comment" name="content" class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
          <button id="comment-button" type="submit" class="btn btn-secondary">Comment</button>
        </form>
      </div>

      <div class='all-comments'>
      <% if (comments[0]) { %>
        <% for (const comment of comments) { %>
      <div class='comments'>
          <p class='user'><img class='user-icon' src="<%= comment.icon %>"> <%= comment.username %></p>
          <p class='user-comment'><%= comment.content %></p>
      </div>
        <% } %>
      <% } %>
    </div>
    </main>

    <% include ./partials/_footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
