<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memo - profile page</title>
    <meta charset='utf-8'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css " type="text/css" />
    <link rel="stylesheet" href="/styles/header.css " type="text/css" />
    <link rel="stylesheet" href="/styles/sidebar.css " type="text/css" />
    <link rel="stylesheet" href="/styles/show_profile.css" type="text/css" />
    <link rel="stylesheet" href="/styles/show_collection.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/footer.css " type="text/css"/>


    <script type="text/javascript" src="/vendor/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/profile.js"></script>
    <script type="text/javascript" src="/scripts/footerLightBox.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <% include ./partials/_header %>
    <% include ./partials/_sidebar %>

  <header>
    <img id="profilePic" src='<%= overview.icon %>'>
    <div id="profileDiv">
      <p>User</p>
      <article>
        <h2 id="username"><%= overview.username %></h2>
        <div class='hvr-grow'>
          <a href='/profile/edit/<%= user %>'><img src='https://i.imgur.com/8PkzcNZ.png'></a>
        </div>
      </article>
      <footer>
        <p><%= overview.biography %></p>
      </footer>
    </div>
  </header>
  <main>
    <div id="mainBar">
      <button id="overview-access">OVERVIEW</button>
      <button id="collection-access">PUBLIC COLLECTIONS</button>
      <button id="post-access">POSTS</button>
      <button id="like-access">LIKES</button>
      <button id="comment-access">MORE...</button>
    </div>
    <div id="card-container">
      <div class="cards">
        <div class="card-body">
          <img src='https://image.flaticon.com/icons/svg/273/273504.svg'>
          <div class="card-content">
            <p>Collections</p>
            <h2><%= overview.nbcollections %></h2>
          </div>
        </div>
        <div class="card-footer">
          <img src='https://image.flaticon.com/icons/svg/813/813310.svg'>
          <button>Update Now</button>
        </div>
      </div>
      <div class="cards">
        <div class="card-body">
          <img src='https://image.flaticon.com/icons/svg/273/273531.svg'>
          <div class="card-content">
            <p>Liked posts</p>
            <h2><%= overview.nblikes %></h2>
          </div>
         </div>
         <div class="card-footer">
           <img src='https://image.flaticon.com/icons/svg/148/148836.svg'>
           <button>Check out</button>
         </div>
      </div>
      <div class="cards">
        <div class="card-body">
          <img src='https://image.flaticon.com/icons/svg/1055/1055661.svg'>
          <div class="card-content">
            <p>Your Posts</p>
            <h2><%= overview.nbposts %></h2>
          </div>
        </div>
        <div class="card-footer">
          <img src='https://image.flaticon.com/icons/svg/2068/2068362.svg'>
          <button>Edit</button>
        </div>
      </div>
      <div class="cards">
        <div class="card-body">
          <img src='https://image.flaticon.com/icons/svg/134/134914.svg'>
          <div class="card-content">
            <p>Comments</p>
            <h2><%= overview.nbcomments %></h2>
          </div>
        </div>
        <div class="card-footer">
          <img src='https://image.flaticon.com/icons/svg/2097/2097594.svg'>
          <button>List</button>
        </div>
      </div>
    </div>

    <div id="collection-container">
      <div class='column-title'>

        </table>
        <div>
          <p>title</p>
        </div>
        <div>
          <p>description</p>
        </div>
        <div>
          <img src='https://image.flaticon.com/icons/svg/251/251974.svg'>
        </div>
        <span></span>
      </div>
      <% for (let collection of collections) { %>
        <div class='collection-post <%= collection.id %>''>
          <button>♡</button>
          <div>
            <p><%= collection.title %></p>
          </div>
          <div>
            <p><%= collection.description %></p>
          </div>
          <div>
            <p><%= collection.created_at.toDateString() %></p>
          </div>
          <div>
            <form class="deleteCollection" method="POST" action="<%= collection.id %>">
              <button class="deleteBtn" type="submit"><img src='https://i.imgur.com/dpwdUdp.png'></button>
            </form>
          </div>
        </div>
      <% } %>
    </div>
    <div id="post-container">
      <% for (let post of posts) { %>
        <div class='profilePost'>
          <header>
            <p><%= post.title %></p>
            <p><%= post.posted_at.toDateString() %></p>
          </header>
          <div>
              <a href='<%= post.url %>'><%= post.url %></a>
          </div>
          <footer>
            <p><%= post.description %></p>
            <img src='https://image.flaticon.com/icons/svg/2128/2128338.svg'>
          </footer>
        </div>
      <% } %>
    </div>
    <div id="like-container">
        <% for (let like of likes) { %>
          <div class='likedPost'>
            <header>
              <p><%= like.title %></p>
              <p><%= like.posted_at.toDateString() %></p>
            </header>
            <div>
              <a href='<%= like.url %>'><%= like.url %></a>
            </div>
            <footer>
              <p><%= like.description %></p>
              <img src='https://image.flaticon.com/icons/svg/1182/1182721.svg'>
            </footer>
          </div>
        <% } %>
    </div>
    <div id="comment-container">
        <% for (let comment of comments) { %>
          <div class='commentPost'>
            <header>
              <p>comment ID: <%= comment.id %></p>
              <p><%= comment.posted_at.toDateString() %></p>
            </header>
            <div>
              <p><%= comment.content %></p>
            </div>
            <footer>
              <p>written on <span><%= comment.username %></span>'s post "<%= comment.title %></p>
              <img src='https://image.flaticon.com/icons/svg/134/134921.svg'>
            </footer>
          </div>
        <% } %>
    </div>
  </main>

  <% include ./partials/_footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
